.editor {
  display: inline-block;
  width: 48%;
  padding: 1em;
}

.left-editor {
  border-right: 1px solid #DED3E2;
  float: left;
}

.right-editor {
  float: right;
}

.two-column-editor {
  display: flex;
}
